:root,
::backdrop {
  /* // TODO(HiDeoo) Ensure all props from SL are overriden. */

  /* // TODO(HiDeoo) Ensure all colors from SL are overriden. */
  --sl-color-white: hsl(0, 0%, 100%);
  --sl-color-gray-2: hsl(0 14% 78%);
  --sl-color-gray-3: hsl(0 5% 58%);
  --sl-color-gray-5: hsl(0 4% 18%);
  --sl-color-gray-6: hsl(0 4% 12%);
  --sl-color-black: hsl(0 4% 7%);

  /* // TODO(HiDeoo) other accents */
  --sl-color-accent-high: hsl(154 31% 44%);

  /* // TODO(HiDeoo) others */
  --sl-color-bg-nav: var(--sl-color-black);
  --sl-color-bg-sidebar: var(--sl-color-black);

  --sl-text-h1: var(--sl-text-3xl);
  --sl-text-h2: var(--sl-text-2xl);
  --sl-text-h3: var(--sl-text-xl);
  --sl-text-h4: var(--sl-text-lg);
  --sl-text-h5: unset;
  --sl-text-h6: unset;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  /* // TODO(HiDeoo)  */
  --sl-color-black: green;
}

/* Header */

header.header {
  border-bottom: 1px solid var(--sl-color-gray-5);
}

/* Sidebar */

div.sidebar-pane {
  border-inline-end: 1px solid var(--sl-color-gray-5);
}

div.sidebar-pane summary {
  flex-direction: row-reverse;
  gap: 0.375rem;
  justify-content: start;
  padding: 0.2em var(--sl-sidebar-item-padding-inline);
  padding-inline: calc(var(--sl-sidebar-item-padding-inline) / 2) var(--sl-sidebar-item-padding-inline);
}

div.sidebar-pane ul ul li {
  margin-inline-start: calc(var(--sl-sidebar-item-padding-inline) + (0.625rem / 2));
}

div.sidebar-pane a[aria-current='page'] {
  background-color: unset;
  color: var(--sl-color-text-accent);
}

div.sidebar-pane ul ul li:has(> a[aria-current='page']) {
  border-inline-start-color: var(--sl-color-accent-high);
}

div.sidebar-pane ul ul li:has(> a:not([aria-current='page']):is(:hover, :focus-visible)) {
  border-inline-start-color: var(--sl-color-white);
}

div.sidebar-pane .top-level > li + li {
  margin-top: 1.25rem;
}

/* Content */

.content-panel {
  padding-top: 1rem;
}

.content-panel + .content-panel {
  border-top: none;
  padding-top: 0;
}

.meta {
  align-items: center;
  flex-direction: row-reverse;
}

.meta a {
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.meta a:is(:hover, :focus-visible) {
  border-color: var(--sl-color-gray-2);
  color: var(--sl-color-gray-2);
}

/* Table of contents */

.right-sidebar {
  border-inline-start: unset;
  padding-top: calc(var(--sl-nav-height) + 1.75rem);
}

starlight-toc li > a {
  border-inline-start: 1px solid var(--sl-color-hairline-light);
  border-radius: 0;
  margin-inline-start: 0.35rem;
  padding-inline-start: calc(1rem * var(--depth) + var(--pad-inline) + 0.35rem);
}

starlight-toc li > a[aria-current='true'] {
  border-color: var(--sl-color-accent-high);
}

starlight-toc li > a[aria-current='true']:is(:hover, :focus-visible) {
  color: var(--sl-color-accent-high);
}

starlight-toc li > a:not([aria-current='true']):is(:hover, :focus-visible) {
  border-color: var(--sl-color-white);
}

/* Markdown */

.sl-markdown-content a:not(:where(.not-content *)) {
  color: var(--sl-color-white);
  text-underline-offset: 0.25em;
}

.sl-markdown-content a:is(:hover, :focus-visible):not(:where(.not-content *)) {
  color: var(--sl-color-accent-high);
}

.sl-markdown-content code:not(:where(.not-content *)) {
  border-radius: 5px;
}

.sl-markdown-content tr:nth-child(2n):not(:where(.not-content *)) {
  background-color: color-mix(in hsl, var(--sl-color-gray-6) 30%, transparent);
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) {
  border: none;
}

.sl-markdown-content th:not(:where(.not-content *)) {
  border-bottom: 1px solid var(--sl-color-white);
}

.sl-markdown-content td:not(:where(.not-content *)) {
  border-bottom: 1px solid var(--sl-color-gray-5);
}

.sl-markdown-content details:not(:where(.not-content *)) {
  --sl-details-border-color--hover: var(--sl-color-white);

  border-inline-start-width: 1px;
}

/* Tabs */

starlight-tabs ul[role='tablist'] {
  border-bottom-width: 1px;
}

starlight-tabs ul[role='tablist'] a[role='tab'] {
  padding-block: 0.25rem;
}

/* Cards */

.card-grid.stagger {
  --stagger-height: 2.5rem;
}

.card {
  border-radius: 0.5rem;
  padding: clamp(1rem, calc(0.125rem + 2vw), 2.5rem);
}
