:root,
::backdrop {
  /* // TODO(HiDeoo) Ensure all props from SL are overriden. */

  /* // TODO(HiDeoo) Ensure all colors from SL are overriden. */
  --sl-color-white: oklch(90% 0.008 17);
  --sl-color-gray-2: oklch(80% 0.018 17);
  --sl-color-gray-3: oklch(65% 0.013 17);
  --sl-color-gray-5: oklch(29% 0.005 17);
  --sl-color-gray-6: oklch(23% 0.004 17);
  --sl-color-black: oklch(18% 0.002 17);

  --sl-hue-orange: 84;
  --sl-color-orange-low: oklch(24% 0.01 var(--sl-hue-orange));
  --sl-color-orange: oklch(62% 0.115 var(--sl-hue-orange));
  --sl-color-orange-high: oklch(92% 0.062 var(--sl-hue-orange));
  --sl-color-orange-accent: oklch(99% 0.062 var(--sl-hue-orange));
  --sl-color-orange-accent-invert: oklch(72% 0.162 var(--sl-hue-orange));
  --sl-hue-green: 164;
  --sl-color-green-low: oklch(20% 0.018 var(--sl-hue-green));
  --sl-color-green: oklch(61% 0.115 var(--sl-hue-green));
  --sl-color-green-high: oklch(86% 0.054 var(--sl-hue-green));
  --sl-color-green-accent: oklch(93% 0.054 var(--sl-hue-green));
  --sl-color-green-accent-invert: oklch(66% 0.154 var(--sl-hue-green));
  --sl-hue-blue: 274;
  --sl-color-blue-low: oklch(20% 0.02 var(--sl-hue-blue));
  --sl-color-blue: oklch(56% 0.181 var(--sl-hue-blue));
  --sl-color-blue-high: oklch(86% 0.054 var(--sl-hue-blue));
  --sl-color-blue-accent: oklch(93% 0.054 var(--sl-hue-blue));
  --sl-color-blue-accent-invert: oklch(66% 0.154 var(--sl-hue-blue));
  --sl-hue-purple: 314;
  --sl-color-purple-low: oklch(22% 0.012 var(--sl-hue-purple));
  --sl-color-purple: oklch(59% 0.166 var(--sl-hue-purple));
  --sl-color-purple-high: oklch(86% 0.053 var(--sl-hue-purple));
  --sl-color-purple-accent: oklch(93% 0.053 var(--sl-hue-purple));
  --sl-color-purple-accent-invert: oklch(66% 0.153 var(--sl-hue-purple));
  --sl-hue-red: 13;
  --sl-color-red-low: oklch(20% 0.018 var(--sl-hue-red));
  --sl-color-red: oklch(44% 0.151 var(--sl-hue-red));
  --sl-color-red-high: oklch(87% 0.05 var(--sl-hue-red));
  --sl-color-red-accent: oklch(94% 0.05 var(--sl-hue-red));
  --sl-color-red-accent-invert: oklch(67% 0.15 var(--sl-hue-red));

  /* // TODO(HiDeoo) other accents */
  --sl-color-accent-low: oklch(15% 0.085 164);
  --sl-color-accent-high: oklch(61% 0.085 164);

  /* // TODO(HiDeoo) others */
  --sl-color-bg-nav: var(--sl-color-black);
  --sl-color-bg-sidebar: var(--sl-color-black);

  --sl-text-h1: var(--sl-text-3xl);
  --sl-text-h2: var(--sl-text-2xl);
  --sl-text-h3: var(--sl-text-xl);
  --sl-text-h4: var(--sl-text-lg);
  --sl-text-h5: unset;
  --sl-text-h6: unset;

  --sl-rapide-ui-bg-color: oklch(18% 0 0);
  /**
   * As of 06/12/2024, Firefox does not support relative Oklch colors.
   *
   * --sl-rapide-ui-border-color: oklch(from var(--sl-color-gray-6) calc(l + 0.05) c h);
   */
  --sl-rapide-ui-border-color: oklch(28% 0.004 17);

  --sl-rapide-ec-marker-bg-color: oklch(27% 0.002 17);
  --sl-rapide-ec-marker-border-color: oklch(47% 0.002 17);
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  /* // TODO(HiDeoo)  */
  --sl-color-black: green;
}

/* Header */

header.header {
  /**
   * As of 06/12/2024, Firefox does not support relative Oklch colors.
   *
   * background-color: oklch(from var(--sl-color-black) l c h / 0.6);
   */
  background-color: oklch(18% 0.002 17 / 0.6);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--sl-color-gray-5);
}

@media (prefers-reduced-transparency) {
  header.header {
    background-color: var(--sl-color-black);
    backdrop-filter: unset;
  }
}

/* Sidebar */

div.sidebar-pane {
  border-inline-end: 1px solid var(--sl-color-gray-5);
}

div.sidebar-pane summary {
  flex-direction: row-reverse;
  gap: 0.375rem;
  justify-content: start;
  padding: 0.2em var(--sl-sidebar-item-padding-inline);
  padding-inline: calc(var(--sl-sidebar-item-padding-inline) / 2) var(--sl-sidebar-item-padding-inline);
}

div.sidebar-pane summary:is(:hover, :focus-visible),
div.sidebar-pane summary:is(:hover, :focus-visible) .large {
  color: var(--sl-color-accent-high);
}

div.sidebar-pane ul ul li {
  margin-inline-start: calc(var(--sl-sidebar-item-padding-inline) + (0.625rem / 2));
}

div.sidebar-pane summary:is(:hover, :focus-visible) + ul > li {
  border-inline-start-color: var(--sl-color-accent-high);
}

div.sidebar-pane a[aria-current='page'] {
  background-color: unset;
  color: var(--sl-color-text-accent);
}

div.sidebar-pane ul ul li:has(> a[aria-current='page']) {
  border-inline-start-color: var(--sl-color-accent-high);
}

div.sidebar-pane ul ul li:has(> a:not([aria-current='page']):is(:hover, :focus-visible)) {
  border-inline-start-color: var(--sl-color-gray-2);
}

div.sidebar-pane .top-level > li + li {
  margin-top: 1.25rem;
}

/* Content */

.content-panel {
  padding-top: 1rem;
}

.content-panel + .content-panel {
  border-top: none;
  padding-top: 0;
}

.meta {
  align-items: center;
  flex-direction: row-reverse;
}

.meta a {
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.meta a:is(:hover, :focus-visible) {
  border-color: var(--sl-color-gray-2);
  color: var(--sl-color-gray-2);
}

/* Table of contents */

.right-sidebar {
  border-inline-start: unset;
  padding-top: calc(var(--sl-nav-height) + 1.75rem);
}

starlight-toc li > a {
  border-inline-start: 1px solid var(--sl-color-hairline-light);
  border-radius: 0;
  margin-inline-start: 0.35rem;
  padding-inline-start: calc(1rem * var(--depth) + var(--pad-inline) + 0.35rem);
}

starlight-toc li > a[aria-current='true'] {
  border-color: var(--sl-color-accent-high);
}

starlight-toc li > a[aria-current='true']:is(:hover, :focus-visible) {
  color: var(--sl-color-accent-high);
}

starlight-toc li > a:not([aria-current='true']):is(:hover, :focus-visible) {
  border-color: var(--sl-color-gray-2);
}

/* Markdown */

.sl-markdown-content a:not(:where(.not-content *)) {
  color: var(--sl-color-white);
  text-underline-offset: 0.25em;
}

.sl-markdown-content a:is(:hover, :focus-visible):not(:where(.not-content *)) {
  color: var(--sl-color-accent-high);
}

.sl-markdown-content code:not(:where(.not-content *)) {
  border-radius: 5px;
}

.sl-markdown-content tr:nth-child(2n):not(:where(.not-content *)) {
  /**
   * As of 06/12/2024, Firefox does not support relative Oklch colors.
   *
   * background-color: oklch(from var(--sl-color-black) calc(l + 0.025) c h);
   */
  background-color: oklch(20.5% 0.002 17);
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) {
  border: none;
}

.sl-markdown-content th:not(:where(.not-content *)) {
  border-bottom: 1px solid var(--sl-color-white);
}

.sl-markdown-content td:not(:where(.not-content *)) {
  border-bottom: 1px solid var(--sl-color-gray-5);
}

.sl-markdown-content details:not(:where(.not-content *)) {
  --sl-details-border-color--hover: var(--sl-color-gray-2);

  border-inline-start-width: 1px;
}

.sl-markdown-content .expressive-code .frame.is-terminal .header {
  border-bottom: 1px solid var(--sl-rapide-ui-border-color);
}

/* Tabs */

starlight-tabs ul[role='tablist'] {
  border-bottom-width: 1px;
}

starlight-tabs ul[role='tablist'] a[role='tab'] {
  padding-block: 0.25rem;
}

starlight-tabs ul[role='tablist'] a[role='tab']:not([aria-selected='true']):hover {
  border-color: var(--sl-color-white);
  color: var(--sl-color-white);
}

/* Cards */

.card-grid.stagger {
  --stagger-height: 2.5rem;
}

.card {
  border-radius: 0.5rem;
  padding: clamp(1rem, calc(0.125rem + 1.5vw), 2.5rem);
}

.sl-link-card {
  box-shadow: none;
}

.sl-link-card:hover {
  background: unset;
}

.sl-link-card .title {
  color: var(--sl-color-white);
}

.sl-link-card .description {
  color: var(--sl-color-gray-3);
}

.sl-link-card:is(:hover, :focus-visible) .description {
  color: var(--sl-color-gray-2);
}

.sl-link-card .icon {
  color: var(--sl-color-gray-2);
}

/* Asides */

.starlight-aside.starlight-aside--note {
  --sl-rapide-asides-bg-color: var(--sl-color-blue-low);
  --sl-rapide-asides-link-color: var(--sl-color-blue-accent);
  --sl-rapide-asides-link-hover-color: var(--sl-color-blue-accent-invert);
  --sl-rapide-asides-table-alt-color: oklch(21.5% 0.02 var(--sl-hue-blue));
  --sl-rapide-asides-table-border-color: oklch(36% 0.034 var(--sl-hue-blue));
}

.starlight-aside.starlight-aside--tip {
  --sl-rapide-asides-bg-color: var(--sl-color-purple-low);
  --sl-rapide-asides-link-color: var(--sl-color-purple-accent);
  --sl-rapide-asides-link-hover-color: var(--sl-color-purple-accent-invert);
  --sl-rapide-asides-table-alt-color: oklch(23.5% 0.012 var(--sl-hue-purple));
  --sl-rapide-asides-table-border-color: oklch(36% 0.033 var(--sl-hue-purple));
}

.starlight-aside.starlight-aside--caution {
  --sl-rapide-asides-bg-color: var(--sl-color-orange-low);
  --sl-rapide-asides-link-color: var(--sl-color-orange-accent);
  --sl-rapide-asides-link-hover-color: var(--sl-color-orange-accent-invert);
  --sl-rapide-asides-table-alt-color: oklch(25.5% 0.01 var(--sl-hue-orange));
  --sl-rapide-asides-table-border-color: oklch(42% 0.042 var(--sl-hue-orange));
}

.starlight-aside.starlight-aside--danger {
  --sl-rapide-asides-bg-color: var(--sl-color-red-low);
  --sl-rapide-asides-link-color: var(--sl-color-red-accent);
  --sl-rapide-asides-link-hover-color: var(--sl-color-red-accent-invert);
  --sl-rapide-asides-table-alt-color: oklch(21.5% 0.018 var(--sl-hue-red));
  --sl-rapide-asides-table-border-color: oklch(37% 0.03 var(--sl-hue-red));
}

.starlight-aside {
  border: 1px solid var(--sl-color-asides-border);
  border-radius: 0.5rem;
  color: var(--sl-color-asides-text-accent);
}

.starlight-aside a {
  color: var(--sl-rapide-asides-link-color);
}

.starlight-aside a:is(:hover, :focus-visible) {
  color: var(--sl-rapide-asides-link-hover-color);
}

.starlight-aside tr:nth-child(2n) {
  /**
   * As of 06/12/2024, Firefox does not support relative Oklch colors.
   *
   * background-color: oklch(from var(--sl-rapide-asides-bg-color) calc(l + 0.015) c h);
   */
  background-color: var(--sl-rapide-asides-table-alt-color);
}

.starlight-aside td {
  /**
   * As of 06/12/2024, Firefox does not support relative Oklch colors.
   *
   * border-color: oklch(from var(--sl-color-asides-text-accent) calc(l - 0.5) calc(c - 0.02) h);
   */
  border-color: var(--sl-rapide-asides-table-border-color);
}

/* File Tree */

starlight-file-tree {
  background-color: var(--sl-rapide-ui-bg-color);
  border: 1px solid var(--sl-rapide-ui-border-color);
  border-radius: 0.5rem;
}

starlight-file-tree .directory > details > summary:hover ~ ul {
  border-color: var(--sl-color-gray-2);
}

/* Notices */

.content-panel:first-of-type h1 + p.sl-flex {
  border-radius: 0.5rem;
  padding: 1rem;
}

/* Hero */

.hero .action {
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
}

.hero .action svg {
  font-size: 1.25rem;
}

.hero .action.primary {
  background-color: var(--sl-color-green-low);
  border: 1px solid var(--sl-color-green);
  color: var(--sl-color-green-high);
}

.hero .action.primary:is(:hover, :focus-visible) {
  /**
   * As of 06/12/2024, Firefox does not support relative Oklch colors.
   *
   * border-color: oklch(from var(--sl-color-green) calc(l - 0.1) c h);
   */
  border-color: oklch(51% 0.115 var(--sl-hue-green));
  color: var(--sl-color-green-accent-invert);
}

.hero .action.secondary {
  border-color: var(--sl-color-gray-2);
  color: var(--sl-color-gray-2);
}

.hero .action.secondary:is(:hover, :focus-visible) {
  border-color: var(--sl-color-accent-high);
  color: var(--sl-color-accent-high);
}

.hero .action.minimal:is(:hover, :focus-visible) {
  color: var(--sl-color-accent-high);
}

.hero .action.minimal {
  padding-inline: 0.25rem;
}
